
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  body {
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    height: 102px;
  }
  header #logo {
    width: 100%;
    text-align: center;
  }
  header #logo img {
    width: 100%;
    min-width: 120px;
    max-width: 189px;
    margin: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header nav {
    background: #ebe9e9ef;
    text-align: right;
  }
  header nav .moteur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav input {
    border: none;
    font-size: 17px;
    font-weight: 600;
    background: #ebe9e9ef;
    padding: 10px 0;
  }
  header nav i {
    font-size: 17px;
    margin-right: 10px;
    margin-left: 50px;
    padding: 10px 4px 10px 10px;
  }
  #explorer {
    padding: 0 20px 25px;
    background-color: #f2f2f2;
  }
  #explorer h1 {
    margin: 15px 31px 5px;
    padding-top: 35px;
    text-align: center;
  }
  #explorer h2 {
    font-size: 14px;
    margin: 10px 14px 15px;
    font-weight: 300;
    text-align: center;
  }
  #recherche .monbouton:hover {
    color: black;
    border: 2px solid #f2f2f2;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #explorer .monbouton {
    color: white;
    margin: 0px 0px;
    padding: 19px 47px;
    border-radius: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #explorer .monbouton a {
    background-color: #9356dc;
    display: block;
    color: white;
    margin: 0px 0px;
    padding: 13px;
    border-radius: 29px;
    border: 1px solid #ff79da;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    background: #ff79da;
  }
  #fonctionnement {
    margin: 20px;
  }
  #fonctionnement article {
    border: 2px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 0px 0px 10px 0px gainsboro;
            box-shadow: 0px 0px 10px 0px gainsboro;
    border-radius: 18px;
    padding: 20px 0 20px 0;
    margin: 20px 0px 20px 0;
  }
  #fonctionnement .monbouton {
    border-radius: 18px;
  }
  #fonctionnement .monbouton:hover {
    border: 0px solid #ff79da;
    background-color: #ff79da;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #fonctionnement .monbouton a {
    color: black;
    font-size: 15px;
    font-weight: 700;
  }
  #fonctionnement .monbouton i {
    color: grey;
  }
  #fonctionnement .monbouton i:hover {
    color: #ff79da;
  }
  .restaurants {
    background-color: #f2f2f2;
    padding: 20px;
  }
  .restaurants div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
  }
  .restaurants article {
    background: white;
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 12px 0px gainsboro;
            box-shadow: 0px 0px 12px 0px gainsboro;
    margin: 20px 0;
  }
  .restaurants h3 {
    color: black;
    margin: 12px 0 5px 20px;
  }
  .restaurants p {
    color: black;
    padding: 0px 0 9px 20px;
    margin: 0;
  }
  footer {
    width: 100%;
    height: auto;
    background-color: #404040;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
  footer #logo2 {
    width: 100%;
    font-family: "Shrikhand", cursive;
    color: white;
  }
  footer #logo2 img {
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer i {
    color: white;
  }
  footer #footer a {
    color: white;
  }
  footer #footer #mentions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header {
    width: 100%;
    height: auto;
  }
  header nav div img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
  }
  #menu {
    border-radius: 18px;
    background: #f2f2f2;
    padding: 20px 5px 0 5px;
  }
  #menu article {
    border: 2px solid transparent;
    display: block;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 0px 10px 0px gainsboro;
    box-shadow: 0px 0px 10px 0px gainsboro;
    border-radius: 18px;
    margin: 20px 5px;
    padding-left: 10px;
  }
  #menu .monbouton a {
    color: black;
    font-size: 15px;
    font-weight: 700;
  }
  #menu .monbouton i {
    color: grey;
  }
  #menu > h2 {
    font-size: 15px;
    margin: 5px;
    font-weight: 600;
    border-bottom: 3px solid #0065fc;
    width: 33px;
  }
 
  #menu h3 {
    font-size: 12px;
    font-weight: 100;
    margin: 5px;
  }
  .commander a {
    background-color: #9356dc;
    display: block;
    color: white;
    margin: 0px 0px;
    padding: 13px;
    border-radius: 29px;
    border: 1px solid #ff79da;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    background: #ff79da;
  }
  .commander {
    margin: 0px 0px;
    padding: 19px 47px;
    border-radius: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

/*# sourceMappingURL=style.css.map */