* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header {
  width: 100%;
}

header #logo {
  width: 100%;
  text-align: center;
}

header #logo img {
  width: 100%;
  min-width: 120px;
  max-width: 189px;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

header nav {
  background: gray;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(128, 128, 128, 0.185609)), color-stop(95%, whitesmoke));
  background: linear-gradient(180deg, rgba(128, 128, 128, 0.185609) 61%, whitesmoke 95%);
  text-align: right;
}

header nav .moteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav input {
  border: none;
  font-size: 17px;
  font-weight: 600;
  background: gray;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(128, 128, 128, 0)), color-stop(95%, whitesmoke));
  background: linear-gradient(180deg, rgba(128, 128, 128, 0) 61%, whitesmoke 95%);
  padding: 10px 0;
}

input:focus-visible {
  outline: none;
}

header nav i {
  font-size: 17px;
  margin-right: 10px;
  margin-left: 50px;
  padding: 10px 4px 10px 10px;
}

#explorer {
  padding: 0 20px 25px;
  background-color: #f2f2f2;
}

#explorer h1 {
  margin: 0px 31px 5px;
  padding-top: 35px;
  text-align: center;
}

#explorer h2 {
  font-size: 14px;
  margin: 10px 14px 15px;
  font-weight: 300;
  text-align: center;
}

#explorer .monbouton a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

#explorer .monbouton {
  color: white;
  margin: 0px 0px;
  padding: 19px 47px;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 2s;
  transition: 2s;
}

#explorer .monbouton a {
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 81%);
  display: block;
  display: block;
  color: white;
  margin: 0px 0px;
  padding: 13px;
  border-radius: 29px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

#fonctionnement {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nombre {
  /* position: absolute; */
  padding: 21px -9px 4px 0px;
  margin: 21px 0px 0px -12px;
  border-radius: 2px solid black;
  border-radius: 45px;
  padding: 2px 7px;
  background: #9356dc;
  color: white;
  margin: -1px 0 0 -14px;
}

#fonctionnement article {
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: start;
  -webkit-box-shadow: 0px 0px 10px 0px gainsboro;
  box-shadow: 0px 0px 10px 0px gainsboro;
  border-radius: 18px;
  padding: 20px 0 20px 0;
}

#fonctionnement .monbouton {
  border-radius: 18px;
  margin: 20px 0;
}

#fonctionnement .monbouton:hover {
  border: 0px solid #ff79da;
  background-color: #9256dc1e;
  -webkit-transition: 40ms;
  transition: 40ms;
  cursor: pointer;
}

#fonctionnement .monbouton a {
  color: black;
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
}

#fonctionnement .monbouton i {
  color: grey;
  padding: 0 100px;
}

#fonctionnement .monbouton i:hover {
  color: #ff79da;
  -webkit-transform: scale(1.031);
          transform: scale(1.031);
  -webkit-transition: 20ms;
  transition: 20ms;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 20px;
}

.restaurants div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.restaurants article {
  background: white;
  border-radius: 18px;
  -webkit-box-shadow: 0px 0px 12px 0px gainsboro;
          box-shadow: 0px 0px 12px 0px gainsboro;
  margin: 20px 0;
  position: relative;
}

.nouveau1,
.nouveau2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: cadetblue;
  font-size: 21px;
  background: #99e2d0;
  padding: 11px;
  font-weight: 600;
  border-radius: 3px;
}

.restaurants article:hover {
  -webkit-transform: scale(1.031);
          transform: scale(1.031);
  -webkit-transition: 20ms;
  transition: 20ms;
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants h3 {
  color: black;
  margin: 12px 0 5px 20px;
  width: 70%;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.coeur {
  padding: 10px;
}

.coeur i.far.fa-heart {
  padding-top: 23px;
  font-size: 24px;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: black;
}

.coeur i.far:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
  background-image: linear-gradient(164deg, #ff79da 0%, #9356dc 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i.fas.fa-heart {
  padding-top: 23px;
  font-size: 27px;
  margin: -1px -3px 0px -25px;
  color: black;
  position: absolute;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  opacity: 0;
}

.coeur i.fas:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 1;
  background-image: linear-gradient(164deg, #ff79da 0%, #9356dc 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: -1px 0 0 -25px;
  font-size: 26px;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  position: fixed;
}

.restaurants p {
  color: black;
  padding: 0px 0 9px 20px;
  margin: 0;
}

footer {
  width: 100%;
  height: auto;
  background-color: #404040;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}

footer .logo2 {
  width: 100%;
  font-family: "Shrikhand", cursive;
  color: white;
  margin-bottom: 12px;
}

footer .logo2 img {
  width: 100%;
  min-width: 120px;
  max-width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer i {
  color: white;
}

footer .footer a {
  color: white;
}

footer .footer .mentions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer div {
  margin: 5px;
}

header {
  width: 100%;
}

header nav div img {
  width: 100%;
  height: 300px;
}

header #page #logo {
  width: 81%;
  text-align: center;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#retour {
  width: 10%;
  padding: 26px 0 0 13px;
  font-size: 20px;
}

#retour i {
  color: black;
}

#retour i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

#menu {
  border-radius: 18px 18px 0 0;
  background: #f2f2f2;
  padding: 20px 5px 0 5px;
  position: relative;
  margin: -23px 0px 0px;
}

#menu h1 {
  font-family: Shrikhand;
  font-size: 24px;
  margin: 10px 0 20px 15px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu h1 {
  padding-right: 10px;
}

#menu article {
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0px gainsboro;
  box-shadow: 0px 0px 10px 0px gainsboro;
  border-radius: 18px;
  margin: 20px 5px;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu .monbouton a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.global {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#menu article:hover {
  -webkit-transform: scale(1.013);
          transform: scale(1.013);
  -webkit-transition: 30ms;
  transition: 30ms;
}

#menu .monbouton a {
  color: black;
  font-size: 15px;
  font-weight: 700;
}

#menu .monbouton i {
  color: white;
  padding: 28px 34px 0px 41px;
  font-size: 19px;
}

#menu > h2 {
  font-size: 15px;
  margin: 5px;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  width: 39px;
}

#menu .monbouton h2 {
  font-size: 15px;
  margin: 5px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu > h2:hover {
  border-bottom: 3px solid #99e2d0;
}

#menu h3 {
  font-size: 12px;
  font-weight: 100;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

#menu .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* margin: 0px 0px 10px 30px; */
  width: 10%;
  border-radius: 0 18px 18px 0;
}

aside i {
  color: white;
}

aside:hover {
  background-color: #99e2d0;
}

.commander a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
}

.commander a {
  display: block;
  color: white;
  margin: 0px 0px;
  padding: 13px;
  border-radius: 29px;
  border: 1px solid #ff79da;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 81%);
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

.commander {
  margin: 0px 0px;
  padding: 19px 47px;
  border-radius: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
}

.load1 {
  -webkit-animation: color 3.2s linear 1 alternate both;
          animation: color 3.2s linear 1 alternate both;
  background-color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.load2 {
  -webkit-animation: disparait 1s 2s linear 1 alternate both;
          animation: disparait 1s 2s linear 1 alternate both;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

@-webkit-keyframes disparait {
  0% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparait {
  0% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes color {
  0% {
    -webkit-filter: blur(1);
            filter: blur(1);
  }
  100% {
    -webkit-filter: blur(1);
            filter: blur(1);
  }
}

@keyframes color {
  0% {
    -webkit-filter: blur(1);
            filter: blur(1);
  }
  100% {
    -webkit-filter: blur(1);
            filter: blur(1);
  }
}

@keyframes color {
  0% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
    -webkit-filter: blur(1);
            filter: blur(1);
  }
  99% {
    opacity: 0;
    -webkit-filter: blur(1);
            filter: blur(1);
  }
}

.loader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50px;
  -webkit-animation: rotation1 3.0s 1 both;
          animation: rotation1 3.0s 1 both;
}

.loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #9356dc;
}

@-webkit-keyframes rotation1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    border-width: 4px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 6px;
    opacity: 1;
  }
}

@keyframes rotation1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
    border-width: 4px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 6px;
    opacity: 1;
  }
}

@keyframes rotation1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 6px;
    opacity: 1;
  }
  45% {
    -webkit-transform: rotate(860deg);
            transform: rotate(860deg);
    border-width: 4px;
    opacity: 1;
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 2px;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#menu .monbouton.monbouton {
  -webkit-animation: slide-in-top 4s cubic-bezier(1, 0.7, 0.15, 1) both;
          animation: slide-in-top 4s cubic-bezier(1, 0.7, 0.15, 1) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(4000);
    transform: translateY(4000);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(4000);
    transform: translateY(4000);
    opacity: 1;
  }
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}

#menu .monbouton.monbouton1 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

aside:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

aside .fas {
  -webkit-animation: rotation 0.5s ease-in-out both;
          animation: rotation 0.5s ease-in-out both;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
@keyframes jon {
  from {padding-left:0px}
  to { padding-left:200px}
}
*/
/*# sourceMappingURL=style.css.map */